<% @linhas.times do %>
<div class="row">
  <% @menu[:menu][:submenu].slice(@inicio, @tamanho).each do |submenu| %>
  <div class="col-md-3 m-b-lg">
    <div class="panel panel-modulo panel-default" data-modulo-id="<%= submenu[:id] %>">
      <div class="panel-body">
        <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>

        <h1> <%= submenu[:descricao] %> </h1>
      </div>
    </div>
  </div>
  <% end -%>
</div>

<% @menu[:menu][:submenu].slice(@inicio, @tamanho).each do |submenu| %>
<% @inicio_submenu = 0 %>
  <%= render partial: "submenu", locals: { submenu: submenu } %>
<% end -%>

  <% @inicio = @inicio + 4  %>
<% end -%>
