.container-login{
  text-align: center;
}

.container-login h1{
  font-weight: 90;
  text-align: center;
  margin-bottom: 50px;
}

.container-login .btn-lg{
  width: 100%
}

.signin-form {
  background: rgba(255, 255, 255, 0.7);
  background-color: rgba(7, 7, 8, 0.31);
  padding: 0 40px;
  margin-top: 5%;
  z-index: 999999999;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  zoom: 1;
  width: 475px;
}

.signin-form fieldset {
  margin: 20px 0 20px 0;
}

.input-lg {
  margin-bottom: 10px;
}